.auto-grid {
    --auto-grid-min-size: 14rem;
  }
  
  .auto-grid > * {
    max-width:600px;
    height:250px;
  }
  
  .auto-grid > * + * {
    margin-top: 1rem;
  }
  
  @supports(display: grid) {
    .auto-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
      grid-gap: 1rem;
    }
    
    .auto-grid > * {
      max-width: unset;
    }
  
    .auto-grid > * + * {
      margin-top: unset;
    }
  }
  
  /*
    WRAPPER
    A utility with a max width that contains child elements and horizontal centers them
  */
  .wrapper {
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1rem;
   
   
  }
  
  
  /* Presentational styles */
  
  body {
    background:  #E7EFF6;
    padding: 1rem 0;
    line-height: 1.4;
    font-family: sans-serif;
  }
  
  li {
    padding: 5rem 1rem;
    
    
    
    background: white;
    color: black;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:20% 20% 20% 20% 20%; 
    grid-gap:20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 0px 2px rgba(238, 238, 238, 0.1), 0px 6px 0px 4px rgba(214, 211, 211, 0.1), 0px 9px 0px 6px rgba(221, 220, 220, 0.1), 5px 5px 15px 5px rgba(207, 207, 207, 0); 
box-shadow: 0px 0px 0px px rgba(218, 218, 218, 0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(218, 218, 218, 0.1), 5px 5px 15px 5px rgba(219, 218, 218, 0);
    
  }
    
  

  .rowcellule{
    margin-top: -30px;
    text-align: center;
      /*border: dashed red;8*/

  }

  .rowcellule2{
    text-align: center;
  }

  .rowcellule3{
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    padding-top:10px;
  }

  .rowcellule4{
    border-bottom: 1px dotted black;
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
   
  }

  .rowcellule5{
    padding-top:20px;
  }

  button{
    border-radius: 150px;
    width:60%;
    height:70%;
    background-color: white;
    
    color:black;
    border:none;
    opacity:1
  }

  button:hover {
   opacity:1;
   border-radius: 150px;
   width:60%;
   height:70%;
   background-color:#4BAAF4;
   color:white;
   border:none;
   cursor : pointer
   
  }


  /*here below ... i need to work on this ... */
  button:hover + .rowcellule4  {
     opacity:0;
  }







 